<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://image.flaticon.com/icons/svg/920/920627.svg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</div>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2625&q=80);">
  <div class="container">
    <h1><strong>Mr cocktail</strong></h1>
    <p>The best repository of <strong>cocktails</strong> known to man! Add your favourite below</p>
  </div>
</div>


<div class="cards">
  <% @cocktails.each do |cocktail| %>
   <% if cocktail.photo.attached? %>
      <% image = cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <% image = "https://source.unsplash.com/random/?cocktail" %>
    <% end %>


  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image %>)">
    <h1><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
  </div>
  <% end  %>
</div>

<%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-flat" %>
