<h1 class="text-center">Create a new Cocktail </h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3">

    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, placeholder: "What's the name called" %>
      <%= f.input :info, placeholder: "Give a description of the cocktail" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Post cocktail", class: "btn btn-primary" %>
    <% end %>

    </div>
  </div>
</div>
